/*--------------------------------------------------------------
1.0 Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #888888;
	font-family: 'PT sans', sans-serif;
	font-size: 15px;
	line-height: 1.5;
}
h1 {
	font-size: 26px;
	margin: 1em 0;
}
h2 {
	font-size: 24px;
	margin: 1em 0;
}
h3 {
	font-size: 20px;
	margin: 1em 0;
}

/*--------------------------------------------------------------
2.0 Elements
--------------------------------------------------------------*/


/*--------------------------------------------------------------
3.0 Links
--------------------------------------------------------------*/

a {
	color: #777;
	-ms-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
a:visited {
	color: #777;
}
a:hover,
a:focus,
a:active {
	color: #eb5937;
}

/*--------------------------------------------------------------
4.0 Navigation
--------------------------------------------------------------*/
.main-navigation li {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-weight: 500;	
}

.main-navigation li a {
    color: #000;
}

/*--------------------------------------------------------------
5. Site Header/Footer
--------------------------------------------------------------*/

.site-header {
	border-bottom: 3px solid #f5f5f5;
}
.top-bar {
	background: #333;
	color: #bbb;
	min-height: 40px;
	line-height: 40px;
	width: 100%;
	font-size: 14px;
}
