html {
  position: relative;
  min-height: 100%;
}
body {
  min-height: 1000px;
  padding-top: 181px;
  margin-bottom: 60px;
}


body,
button,
input,
select,
textarea {
	color: #888888;
	font-family: 'PT sans', sans-serif;
	font-size: 15px;
	line-height: 1.5;
}


a {
	color: #777;
	-ms-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
a:visited {
	color: #777;
}
a:hover,
a:focus,
a:active {
	color: #eb5937;
}

/*--------------------------------------------------------------
4.0 Navigation
--------------------------------------------------------------*/
.main-navigation li {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-weight: 500;	
}

.main-navigation li a {
    color: #000;
    text-decoration: none;
}

.main-navigation li a:hover {
    color: #eb5937;
}

/*--------------------------------------------------------------
5. Site Header/Footer
--------------------------------------------------------------*/
.site-title {
	color: #888888;
	font-family: 'PT sans', sans-serif;
	display: inline-block;
    padding: 10px;
    font-weight: 500;	
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #000;
}
